/*div[id="div_id_n_father_name"] {
    width: 50%;
}
div[id="div_id_bday"] {
    width: 30%;
    position: absolute;
    margin-top: 8.55pc;
    margin-left: 58%;
}
div[id="div_id_email"] {
    width: 55%;
    position: absolute;
    margin-top: 12.9pc;
    margin-left: 36%;
}
iv[id="div_id_start_date"] {
    width: 20%;
    position: absolute;
    margin-top: 38.9pc;
    margin-left: 38%;
}
div[id="div_id_current_class"] {
    width: 50%;
}
iv [id="div_id_photo"] {
    width: 38%;
    position: absolute;
    margin-top: 43.2pc;
    margin-left: 51%;
}
div[id="div_id_education_level"] {
    width: 86%;
}
div[id="div_id_start_date"] {
    width: 28%;
    position: absolute;
    margin-top: 38.9pc;
    margin-left: 59%;
}
iv[id="div_id_current_class"] {
    width: 65%;
}
div [id="div_id_photo"] {
    width: 38%;
    position: absolute;
    margin-top: 43.2pc;
    margin-left: 51%;
}