body {
    background-color: #ecf9f8b3;
    margin: 0;
    padding: 0;
}

.login-form {
    margin-left: 0;
    margin-top: 3pc;
    text-align: center;
}
.login-form form {
    display: grid;
    justify-items: center;
 }
.login-form ul {
    width: auto;
    display: grid;
    justify-items: start;
    justify-content: center;
    margin: 0;
}
.login-form li {
    background-color: unset;
    padding: 0;
    padding-left: 7pc
    font-size: 12px;
}
.login-form p {
    display: inline-grid;
    justify-items: start;
    margin: 5px;
    margin-bottom: 0;
}
.login-form input {
    padding: 3px;
    margin: 5px 30px;
    border-radius: 5px;
    border: ridge 1px;
}
.errorlist {
    color: red;
}

.login-form  a {
    color: #0d25dbf2;
}
.login-form a:hover {
    text-decoration-line: underline;
    font-weight: 100;
    font-style: oblique;
}
span {
    display: none;
}
#input:visited   #span  { display: block; }
}
.login-form ul {
    background-color: #d1e2e0;
}