{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} {{title}} {% endblock %}

{% block head  %}
    <link rel="stylesheet" href="{% static 'css/addmem.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/commentx.css' %}?{% now 'U' %}">
{% endblock %}

{% block header %} {% include 'nav.html' %} {% endblock %}

{% block content %}
    <div class="form">
        <form method="POST", action="">{% csrf_token %}
            {{from_com|crispy}}
            <input class="btn-save" type="submit" value="Save"/>
        </form>
    </div>
{% endblock %}

{% block footer %} {% include 'footer.html' %} {% endblock %}