{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} {{title}} {% endblock %}

{% block head  %}
    <link rel="stylesheet" href="{% static 'css/listm.css' %}?{% now 'U' %}">
{% endblock %}

{% block header %} {% include 'nav.html' %} {% endblock %}

{% block content %}
<div class="tbl-title">
    <div class="message">
        {% if messages %}
            <ul class="ul-message">
                {% for message in messages %}
                    <li {% if message.tag %} class="{{ message.tag }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <h1>የዘማርያን ዝርዝር</h1>
</div>

<div class="t-container">

    <div class="search-col">
        <div class="div-search">
            <form>
                <label for="search">መፈለጊያ</label>
                <input type="text" name="q" id="search" class="search" placeholder="መለያ ቁጥር፣ በስም ...">
                <button class="btn-search" name="submit" type="submit" >ፈልግ</button>
            </form>
        </div>
        <hr>
        <div class="export">
            <form method="POST" action="">{% csrf_token %}
                {{form|crispy}}
                <input class="btn-export" type="submit" value="Export"/>
            </form>
        </div>
    </div>
    <div class="table-cont">
        <table class="table">
            <thead>
                <tr>
                    <th>ተ.ቁ</th>
                    <th>መለያ ቁጥር</th>
                    <th>ሙሉ ስም</th>
                    <th>ክርስትና ስም</th>
                    <th>ስልክ</th>
                    <th>ጻታ</th>
                    <th>የሚያገለግሉእት ክፍል</th>
                    <th>ስራ</th>
                    <th>ልዩ ሞያ</th>
                </tr>
            </thead>
            {% for instance in queryset %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{instance.idno}}</td>
                <td>{{instance.fname}} {{instance.mname}} {{instance.lname}}</td>
                <td>{{instance.c_name}}</td>
                <td>{{instance.phone}}</td>
                <td>{{instance.sex}}</td>
                <td>{{instance.kifl}}</td>
                <td>{{instance.job}}</td>
                <td>{{instance.talent}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block footer %} {% include 'footer.html' %} {% endblock %}