.post-btn {
  margin-top: 2pc;
  display: inline-flex;
  align-items: center;
}
.btn-add {
  border-radius: 10px;
  height: 30px;
  background: #ffffffa3;
  cursor: pointer;
  text-decoration: none;
  color: black;
  padding: 5px 15px;
}
.blog-container {
    display: flex;
    border-radius: 10px;
    margin-top: 5px;
}

.cont-post {
    width: 65%;
    margin: 20px 50px;
    margin-right: 5px;
}
.post {
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: start;
}
.post h2 {
    color: #061f2cd9;
    text-decoration-line: underline;
    justify-self: self-start;
    margin-left: 35px;
}
.post img {
    width: 60%;
}
.post p {
    text-align: justify;
    padding: 3px 5px;
    border-radius: 12px;
}

.cont-new-notice {
    width: 35%;
    margin-left: 10px;
}
.new-notice {
    display: grid;
    align-items: center;
    align-content: center;
    margin: 0 20px;
}
.new-notice h5 {
    margin: 8px 5px;
    font-size: 17px;
}
.new-notice p {
    margin: 8px 0;
    font-size: 15px;
}
.new-notice label {
    text-align: start;
    font-size: 14px;
    width: 100%;
}
.new-notice  img {
    width: 70%;
    justify-self: start;
}
.cont-new-notice h3{
    margin: 10px;
    text-align: start;
    color: #625f55;
    font-style: oblique;
}
.comment {
    justify-self: start;
    align-self: center;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-style: italic;
}
.comment img {
    width: 20px;
    margin-left: 15px;
}