{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} {{title}} {% endblock %}

{% block head  %}
<link rel="stylesheet" href="{% static 'css/listm.css' %}?{% now 'U' %}">
<link rel="stylesheet" href="{% static 'css/lista.css' %}?{% now 'U' %}">
{% endblock %}

{% block header %} {% include 'nav.html' %} {% endblock %}

{% block content %}

<div class="tbl-title">
    <div class="message">
        {% if messages %}
        <ul class="ul-message">
            {% for message in messages %}
            <li {% if message.tag %} class="{{ message.tag }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <h1>booking ዝርዝር
        <a href="{% url 'bookGuzo' %}"><img class="add" src="{% static 'img/add.png' %}" alt="Add"></a>
    </h1>
</div>

<div class="t-container">

    <div class="search-col">
        <div class="div-search">
            <form method="POST"> {% csrf_token %}
                <label for="search">መፈለጊያ</label>
                <input type="text" name="q" id="search" class="search" placeholder="**** ...">
                <div class="filter">
                    <h3>Guzo</h3>
                    {% for g in guzo %}
                    <div class="checkboxes">
                        <input class="check-list" type="checkbox" id="{{g.id}}" name="{{g.id}}" value="{{g.id}}">
                        <label for="{{g.id}}">{{g.name}}</label>
                    </div>
                    {% endfor %}
                </div>
                <input type="hidden" id="checked" name="keyword">
                <button class="btn-search" name="submit" type="submit">ፈልግ</button>
            </form>
        </div>
    </div>

    <div class="table-cont">
        <table class="table">
            <thead>
            <tr>
                <th>ተ.ቁ</th>
                <th>guzo id</th>
                <th>guzo</th>
                <th>ስም</th>
                <th>phone</th>
                <th>address</th>
                <th>special req</th>
                <th>edit</th>
            </tr>
            </thead>
            {% for b in booking %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{b.booking_id}}</td>
                <td><a href="{% url 'detail' name='guzo' pk=b.guzo.id %}">{{b.guzo.name}}</a></td>
                <td>{{b.full_name}}</td>
                <td>{{b.phone_no}}</td>
                <td>{{b.address}}</td>
                <td>{{b.special_request}}</td>
                <td><a href="{% url 'updateBooking' b.id %}">edit</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<script>
$(document).ready(function(){
  $('.check-list').click(() => {
    var vals="";
    $('.check-list:checked').each(function(){
      vals += $(this).val()+','
    });
    $('#checked').val(vals);
  });
});

</script>
{% endblock %}

{% block footer %} {% include 'footer.html' %} {% endblock %}
